.hero {
  min-height: 576px;
  background-image: url("../../images/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d1d2d6;
  color: white;
}
.search-results {
  background-color: #f5f6f7;
  padding: 80px 104px;
}
@media screen and (max-width: 768px) {
  .search-results {
    padding: 40px;
  }
}

@media screen and (max-width: 320px) {
  .search-results {
    padding: 32px 16px;
  }
}
