.hero {
  min-height: 420px;
  background-image: url("../../images/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d1d2d6;
  color: white;
}
.search-results {
  color: #1a1b22;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results__icon {
  width: 82px;
  height: 82px;
  margin-bottom: 31px;
}

.search-results_type_not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0 80px;
}

.search-results__not-found-title {
  margin: 24px 0 16px;
  font-size: 26px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #1a1b22;
}

.search-results__not-found-text {
  max-width: 252px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #6c707a;
}
@media screen and (max-width: 1023px) {
  .search-results {
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    min-height: 536px;
  }

  .search-results {
    padding: 32px 16px;
  }
}
