.navigation {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  position: relative;
}

.navigation__link_active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -29px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.navigation__button {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .navigation {
    gap: 20px;
  }

  .navigation__link {
    font-size: 16px;
  }

  .navigation__button {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  .navigation__link_active::after {
    bottom: -21px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }

  .navigation.navigation_opened {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;

    position: absolute;
    top: 56px;
    left: 0;
    right: 0;

    padding: 16px;
    background-color: #1a1b22;
    z-index: 100;
  }

  .navigation__link {
    font-size: 18px;
  }

  .navigation__button {
    width: 100%;
    height: 56px;
  }

  .navigation__link_active::after {
    display: none;
  }
}
