.navigation {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
}

.navigation button {
  width: 176px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}
