.navigation {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  position: relative;
}

.navigation__link_active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -29px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.navigation__button {
  width: 176px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .navigation {
    gap: 20px;
  }

  .navigation__link {
    font-size: 16px;
  }

  .navigation__button {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  .navigation__link_active::after {
    bottom: -21px;
  }
}
@media screen and (max-width: 320px) {
  .navigation {
    display: none;
  }
}
