.news-card {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  min-height: 576px;
}

.news-card__image-wrapper {
  position: relative;
}

.news-card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.news-card__tooltip {
  position: absolute;
  top: 24px;
  right: 69px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 100%;
  background: #fff;
  padding: 0 16px;
  border-radius: 10px;
  font-size: 12px;
  display: none;
  align-items: center;
  justify-content: center;
}

.news-card__save-button:hover + .news-card__tooltip {
  display: flex;
}

.news-card__save-icon {
  width: 24px;
  height: 24px;
}

.news-card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
}

.news-card__content {
  padding: 20px 24px 24px;
}

.news-card__date {
  margin: 0 0 12px;
  color: #b6bcbf;
  font-size: 18px;
  line-height: 24px;
}

.news-card__title {
  margin: 0 0 16px;
  color: #1a1b22;
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
}

.news-card__description {
  margin: 0 0 18px;
  color: #1a1b22;
  font-size: 16px;
  line-height: 22px;
}

.news-card__source {
  position: absolute;
  left: 24px;
  bottom: 24px;
  margin: 0;
  color: #b6bcbf;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Tablet */

@media screen and (max-width: 768px) {
  .news-card {
    min-height: 420px;
  }

  .news-card__image {
    height: 150px;
  }

  .news-card__content {
    padding: 16px;
  }

  .news-card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .news-card__description {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Mobile */

@media screen and (max-width: 420px) {
  .news-card {
    min-height: auto;
  }

  .news-card__image {
    height: 196px;
  }

  .news-card__content {
    padding: 16px;
  }

  .news-card__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .news-card__description {
    margin-bottom: 40px;
  }

  .news-card__tooltip {
    display: none;
  }
}
